.env
__pycache__
.DS_Store
/code/AMLC-Final-Project/podcast_scraper/32-thoughts-the-podcast/
/code/AMLC-Final-Project/podcast_scraper/spittin-chiclets/
/code/AMLC-Final-Project/podcast_scraper/the-sheet-with-jeff-marek/